@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@keyframes color_change {
  0% {color: red}
  20% {color: orange}
  40% {color: yellow}
  60% {color: green}
  80% {color: blue}
  100% {color: purple}
}

@keyframes background_change {
  0% {background-color: red}
  20% {background-color: orange}
  40% {background-color: yellow}
  60% {background-color: green}
  80% {background-color: blue}
  100% {background-color: purple}
}

body {
  background-color: rgba(255, 99, 71, 0.3);
}

h1 {
  font-family: Open Sans;
  text-align: center;
  color: black;
}

h2 {
  font-family: Open Sans;
  text-align: center;
  color: black;
}

p {
  font-family: Open Sans;
  font-size: 20px;
}

div {
  color: black;
  font-family: Open Sans;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgba(255, 99, 71, 0.3);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 25%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
