@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@keyframes slide {
  from {
    margin-left: 100%;
    width: 100%; 
  }
  
  0% {
    color: red;
  }
  
  20% {
    color: red;
  }
  
  40% {
    color: yellow;
  }
  
  60% {
    color: green;
  }
  
  80% {
    color: blue;
  }
  
  to {
    margin-left: 0%;
  }
}

body {
  background-color: lightblue;
}

h1 {
  font-family: Open Sans;
  color: black;
  text-align: left;
  animation-duration: 7s;
  animation-name: slide;
}

p {
  font-family: Open Sans;
  font-size: 20px;
}